/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* ----- UTILITY ----- */

/* proprietà flex */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.flex-end {
    justify-content: flex-end;
}


/* ----- CONTENT ----- */

.finestra {
    height: 100vh;
    color: white;
}

header {
    background-color: red;
    padding: 20px;
}

footer {
    background-color: #222;
    padding: 30px;
}

.pulsante-speaker {
    background-color: #666;
    color: white;
    padding: 10px;
    border-radius: 3px;
}