/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* ----- UTILITY ----- */

/* proprietà flex */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.flex-end {
    justify-content: flex-end;
}


/* ----- CONTENT ----- */

.finestra {
    height: 100vh;
    color: white;
}

header {
    background-color: black;
    padding: 20px;
}

main {
    background-color: black;
}

.partecipanti {
    margin: 20px 15px 0;
    width: 90%;
}

.partecipante {
    width: calc(100% / 7);
    height: 100px;
}

footer {
    background-color: #222;
    padding: 30px;
}

.pulsante-speaker {
    background-color: #666;
    color: white;
    padding: 10px;
    border-radius: 3px;
}

/* footer */

.pulsante {
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}